@import "tailwindcss";

@theme {
  --font-family-inter: var(--font-inter), sans-serif;
  --font-family-pt-mono: "PT Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

/* Apply PT Mono to body text */
p, .font-pt-mono {
  font-family: "PT Mono", monospace;
}